# ENV='prod'
ENV='dev'
SECRET_KEY=''
DEBUG='True'

APP_HOST='0.0.0.0'
APP_PORT=3100
APP_ROOT=''
APP_PATH=''

DB_USERNAME=''
DB_PASSWORD=''
DB_HOST=''
DB_NAME=''
DB_PORT=

MOBILE_APP_PATH=''

MAIL_SERVER='smtp.sendgrid.net'
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_DEFAULT_SENDER='''
