# ENV='prod'
ENV='dev'
SECRET_KEY=''
DEBUG='True'

APP_HOST='0.0.0.0'
APP_PORT=3100
APP_ROOT=''
APP_PATH=''

DB_USERNAME=''
DB_PASSWORD=''
DB_HOST=''
DB_NAME=''
DB_PORT=

MOBILE_APP_PATH=''

MAIL_API_KEY=''
MAIL_DEFAULT_SENDER=''

BASE_URL='http://127.0.0.1:3100'