{% extends "base.html" %}
{% block title %}Password Reset {{date}} {{time}}{% endblock %}
{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md w-96">
  <h1 class="text-2xl text-blue-500 font-bold mb-6">Password Reset</h1>
  <p>Hi {{first_name}},</p>

  <p class="">
    You have requested for a password change. Click on the link to proceed:
  </p>
  <a href={{reset_link}} class="block my-6 text-blue-400">Password Reset </a>
  <p>
    If this was not you, pls ensure to secure your account. If you have any
    questions, please don't hesitate to contact our support team at
    <a href="mailto:payvervesupport@gmail.com" class="text-blue-500"
      >payvervesupport@gmail.com</a>. 
      Thank you for chooosing PayVerve.
  </p>
</div>
{% endblock %}
