<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{first_name}} Welcome to Coownix</title>
</head>
<body style="background-color: #f1f5f9; padding: 40px; font-family: Arial, sans-serif;">

<div style="max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 25px; padding: 40px; border-bottom: 4px solid #2B2CC5;">

    <!-- Logo -->
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="#"
           style="display: inline-flex; align-items: center; justify-content: center; text-decoration: none; color: #2B2CC5;">
            <!--            <img src="https://res.cloudinary.com/dipgxfllg/image/upload/v1738443916/coownix-logo-symbol_qj9mty.png"-->
            <!--                 alt="Coownix Logo" style="width: 60px; height: 40px; margin-right: 8px;">-->
            <span style="font-size: 30px; font-weight: 900; color: #2B2CC5;">Payverve</span>
        </a>
    </div>


    <hr style="border: 1px solid #ccc;">

    <!-- Greeting -->
    <div style="padding: 20px 0; line-height: 2;">
        <p style="font-size: 14px; color: #333;">
            Hi <span style="font-weight: bold; color: black;">{{first_name}}</span>,
        </p>
        <p style="font-size: 14px; color: #333;">
            I’m Eva from <span style="font-weight: bold; color: black;">Payverve</span>, and I'm truly excited to
            welcome you aboard. Thank you for joining our growing financial ecosystem! 💙
        </p>
        <p style="font-size: 14px; color: #333;">
            You're now part of a vision built on <span style="font-weight: bold; color: black;">borderless finance, security, and financial empowerment</span>
            for everyday people and businesses across Africa.
        </p>
        <p style="font-size: 14px; color: #333;">
            <span style="font-weight: bold; color: black;">Payverve</span> is a modern financial platform that helps
            you:
            <ul style="font-size: 14px; color: #333; padding-left: 20px;">
                <li>Get virtual USD cards for secure online payments</li>
                <li>Create and manage multi-currency wallets (USD, NGN, GBP)</li>
                <li>Send and receive international payments with ease</li>
            </ul>
        </p>
        <p style="font-size: 14px; color: #333;">
            Whether you're a freelancer, business owner, or traveler — we’re here to help you transact across borders
            with confidence.
        </p>
        <div style="line-height: 1.6; padding-top: 10px; font-size: 13px">
            <p style="color: #333;">
                Once again, welcome to Payverve.
            </p>
            <p style="color: #333;">
                Let’s unlock a world of seamless finance — together.
            </p>
            <p style="color: #333;">
                Warm regards,
            </p>
            <p style="color: #333; font-weight: bold; font-style: italic;">
                The Payverve Team
            </p>
            <p style="color: #333; font-weight: bold; font-style: italic;">
                Borderless. Secure. Empowered.
            </p>
        </div>
    </div>

    <hr style="border: 1px solid #ccc;">

    <!-- Contact Info -->
    <div style="text-align: center; line-height: 2;">
        <p style="font-size: 14px; color: #333;">
            Got questions or need help getting started? Reach out to us at
            <a href="mailto:help@payverve.com" style="color: #2B2CC5; text-decoration: none;">help@payverve.com</a>.
        </p>
    </div>

    <!-- Footer -->
    <div style="text-align: center; margin-top: 20px;">

        <!-- Logo -->
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="#"
               style="display: inline-flex; align-items: center; justify-content: center; text-decoration: none; color: #2B2CC5;">
                <!--            <img src="https://res.cloudinary.com/dipgxfllg/image/upload/v1738443916/coownix-logo-symbol_qj9mty.png"-->
                <!--                 alt="Coownix Logo" style="width: 60px; height: 40px; margin-right: 8px;">-->
                <span style="font-size: 20px; font-weight: bold; color: #2B2CC5;">Payverve</span>
            </a>
        </div>
        <p style="font-size: 14px; color: #333;">
            &copy; {{ current_year }} <span style="font-weight: bold; color: black;">Payverve</span>. All rights
            reserved.
        </p>
        <p style="font-size: 12px; color: #666; max-width: 600px; margin: auto; line-height: 1.5;">
            This email was intended for {{user_email_address}}. This message is for the personal and confidential use of
            the
            designated recipient(s).
            If you are not the intended recipient, you are hereby notified that any review, dissemination, distribution,
            or
            copying of this message is strictly prohibited.
            Want to stop receiving these emails? <a href="#"
                                                    style="color: #2B2CC5; text-decoration: none;">Unsubscribe</a>
        </p>
    </div>
</div>
</body>
</html>
